.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.125rem solid var(--black);
}

.homeLink {
  padding: 1.5rem;
  font-weight: 600;
}

.navItems {
  display: flex;
  justify-content: space-between;
}

.navItem {
  padding: 1.5rem;
  border-inline-start: 0.125rem solid var(--black);
}
