.no-break {
  white-space: nowrap;
}

.green-bg {
  background-color: var(--green);
}

.purple-bg {
  background-color: var(--purple);
}

.block {
  padding: 4rem max(5vw, calc((100% - 800px) / 2));
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
  .block {
    padding-top: 6rem;
    padding-bottom: 6rem;
    gap: 3rem;
  }
}
