<section class="block green-bg">
  <div class="button-container">
    <a href="mailto:annie@sparkbird.works" class="button-white">
      Work with me
    </a>
  </div>
</section>

<style>
  .button-container {
    margin: 0 auto;
  }
</style>
