---
import Layout from "../layouts/Default.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <section class="block hero">
    <Card size="lg">
      <h1 class="display">I leave the web better than I found it.</h1>
      <p class="body1">
        Ethical software engineering, founded on the principles of
        <a
          href="https://www.w3.org/WAI/fundamentals/accessibility-intro/"
          target="_blank"
          rel="noopener noreferrer"
        >
          accessibility
        </a>
        and
        <a
          href="https://www.sustainablewebmanifesto.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          sustainability.
        </a>
      </p>
    </Card>
  </section>

  <section class="block white">
    <Card size="md">
      <h2 class="headline">About Annie</h2>
    </Card>
    <p>
      As a seasoned software engineer with over 8 years of experience shipping
      web applications across a range of industries, I am passionate about
      improving the Internet and its impact by building performant and
      accessible web applications. I specialize in frontend development, using
      technologies such as JavaScript/TypeScript, Next.js, Astro, and semantic
      HTML, and I have a keen eye for design and user experience. I excel at
      cross-functional collaboration, transforming ambiguity into clarity, and
      creating state-of-the-art, sustainable systems for my teammates and users.
    </p>
    <p>
      In 2023, I established <a href="https://sparkbird.works" target="_blank"
        >Sparkbird Works</a
      >, a studio where I offer freelance engineering, consulting, and coaching
      services, with a focus on web accessibility (a11y) and sustainability. I
      help clients create inclusive web products, and I also mentor aspiring
      developers who want to pursue non-traditional paths in tech. I am always
      eager to learn, grow, share, and create, and I believe in the power of
      ethical web development to make a positive impact.
    </p>
  </section>
</Layout>

<style>
  .hero {
    padding: 5rem 2rem;
    background-color: var(--purple);
    border-bottom: var(--foreground-border);
  }

  /* Tablet and Smaller Desktop */
  @media (min-width: 701px) {
    .hero {
      padding: 10rem 5rem;
    }
  }

  /* Large desktop */
  @media (min-width: 1121px) {
    .hero {
      padding: 11rem 6rem;
    }
  }
</style>
