---
import Layout from "../layouts/Default.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <section class="block hero">
    <Card size="lg" class="hero-card">
      <h1>I leave the web better than I found it.</h1>
      <p>
        Ethical software engineering, powered by
        <a
          href="https://www.w3.org/WAI/fundamentals/accessibility-intro/"
          target="_blank"
          rel="noopener noreferrer"
        >
          accessibility
        </a>
        and
        <a
          href="https://www.sustainablewebmanifesto.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          sustainability.
        </a>
      </p>
    </Card>
  </section>
</Layout>

<style>
  .hero {
    padding: 2rem;
    background-color: var(--purple);
    border-bottom: var(--foreground-border);
  }

  .hero-card {
    margin: 2rem auto;
  }

  /* Tablet and Smaller Desktop */
  @media (min-width: 701px) {
    .hero-card {
      margin: 4rem auto;
    }
  }

  /* Large desktop */
  @media (min-width: 1121px) {
    .hero {
      padding: 6rem;
    }
  }
</style>
