---
import Layout from "../layouts/Default.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <section class="block hero">
    <Card size="lg">
      <h1 class="display">I leave the web better than I found it.</h1>
      <p class="body1">
        Ethical software engineering, founded on the principles of
        <a
          href="https://www.w3.org/WAI/fundamentals/accessibility-intro/"
          target="_blank"
          rel="noopener noreferrer"
        >
          accessibility
        </a>
        and
        <a
          href="https://www.sustainablewebmanifesto.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          sustainability.
        </a>
      </p>
    </Card>
  </section>
</Layout>

<style>
  .hero {
    padding: 5rem 2rem;
    background-color: var(--purple);
    border-bottom: var(--foreground-border);
  }

  /* Tablet and Smaller Desktop */
  @media (min-width: 701px) {
    .hero {
      padding: 10rem 5rem;
    }
  }

  /* Large desktop */
  @media (min-width: 1121px) {
    .hero {
      padding: 11rem 6rem;
    }
  }
</style>
