---
import Layout from "../layouts/default.astro";
---

<Layout title="Annie Pennell | Software Engineer">
  <section class="block hero">
    <h1>I leave the web better than I found it.</h1>
    <p>
      Ethical software engineering, powered by
      <a
        href="https://www.w3.org/WAI/fundamentals/accessibility-intro/"
        target="_blank"
        rel="noopener noreferrer"
      >
        accessibility
      </a>
      and
      <a
        href="https://www.sustainablewebmanifesto.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        sustainability.
      </a>
    </p>
  </section>
</Layout>

<style>
  .hero {
    padding: 2rem;
    background-color: var(--purple);
    border-bottom: var(--foreground-border);
  }
</style>
